<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.momomo.myapplication">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_activity.login" />
        <activity android:name=".home" />
        <activity android:name=".login_activity.tologin" />
        <activity android:name=".food_activity.food" />
        <activity android:name=".food_activity.addfood" />
        <activity android:name=".note_activity.note" />
        <activity android:name=".note_activity.addnote" />
        <activity android:name=".chart_activity.chartTest"></activity>
    </application>

</manifest>